@model ServiceLayer.DeliveryModel

<h1>Doručení objednávky</h1>

@if (Model.Empty()) {
	<h2>Žádná objednávka nečeká na doručení.</h2>
} else {
	@foreach(var o in Model.Orders()) {
		<h3>Objednávka</h3>
		<table>
			<tr>
				<th>Zákazník</th>
				<th>Způsob dopravy</th>
				<th>Způsob platby</th>
				<th>Zaplacena</th>
				<th>Cena</th>
				<th>Doručit</th>
			</tr>
			<tr>
				<td>@o.Customer.Username</td>
				<td>@(o.HasDelivery ? "Přeprava k zákazníkovi" : "Osobní odběr")</td>
				<td>@(o.Online ? "Online" : "Dobírka")</td>
				<td>@(o.Paid ? "Ano" : "Ne")</td>
				<td>@o.Amount Kč</td>
				<td>
					<a
					   asp-controller="Home"
					   asp-action="DeliverOrder"
					   asp-route-orderID="@o.ID">
						Doručit
					</a>
				</td>
			</tr>
		</table>
		<h3>Položky</h3>
		<table>
			<tr>
				<th>Noty</th>
				<th>Pobočka</th>
				<th>Druh</th>
				<th>Cena</th>
			</tr>
			@foreach (var i in o.Items) {
				<tr>
					<td>@i.Stock.Product.FullName</td>
					<td>@i.Branch.ID</td>
					<td>@(i.Copy ? "Kopie" : "Výpůjčka")</td>
					<td>@i.Price</td>
				</tr>
			}
		</table>
	}
}
