@model ServiceLayer.ExportProcessModel

<h1>Zpracovávání položek</h1>
<ul>
	<li>Vyjmutí originálu</li>
	<li>Kopírování</li>
	<li>
		<b>Vrácení originálu</b>
	</li>
	<li>Odevzdání</li>
	<li>Potvrzení</li>
</ul>
<p>Přihlášen: @Model.Employee().Username</p>

@if (Model.Empty()) {
	<h2>Všechny položky objednané z této pobočky byly již expedovány.</h2>
} else {
	<h2>Fronta</h2>
	<table>
		<tr>
			<th>Noty</th>
		</tr>
		@foreach (var i in Model.Items()) {
			<tr>
				<td>@i.Stock.Product.FullName</td>
			</tr>
		}
	</table>

	<h3>Vraťte originál do skladu.</h3>
	<p>Aktuální položka: @Model.Stock().Product.FullName</p>

	<form method="post" asp-controller="Home" asp-action="ForwardExport">
		<button type="submit">Originál vrácen</button>
		<input type="hidden" asp-for="EmployeeID" value="@Model.EmployeeID" />
		<input type="hidden" asp-for="OrderItemID" value="@Model.OrderItemID" />
		<input type="hidden" asp-for="StockID" value="@Model.StockID" />
		<input type="hidden" asp-for="Stage" value="3" />
	</form>
}
